@tailwind base;
@tailwind components;
@tailwind utilities;

.tableContainer::-webkit-scrollbar {
  background: white;
  height: 10px;
  width: 10px; /* Safari and Chrome */
}

.tableContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: #392fa3;
}

.menu:hover > .subMenu {
  top: 16px;
}

.videoCatCard {
  height: 255px;
}

.commonContainer {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}

@media screen and (max-width: 1280px) {
  .commonContainer {
    padding-left: 80px;
    padding-right: 80px;
  }
  .videoCatCard {
    height: 220px;
  }
}

@media screen and (max-width: 1024px) {
  .commonContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
  .videoCatCard {
    height: 210px;
  }
}

@media screen and (max-width: 800px) {
  .videoCatCard {
    height: 130px;
  }
}
@media screen and (max-width: 600px) {
  .commonContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
