@tailwind base;
@tailwind components;
@tailwind utilities;

/* editor styeles */
@layer components {
  .editor {
    @apply w-full;
  }
  .editor li {
    @apply list-disc ml-5;
  }

  .editor a {
    @apply text-blue-500 underline;
  }
  .editor figure {
    width: 100% !important ;
    display: block !important ;
    border-radius: 20px !important;
    overflow: hidden !important;
  }
  .editor figure img {
    width: 100% !important ;
    display: block !important ;
    object-fit: cover;
    border-radius: 20px !important;
    background-position: center;
    overflow: hidden !important;
  }

  .editor img {
    @apply block rounded-md overflow-hidden w-full;
  }
  .editor del {
    @apply text-gray-400;
  }

  .editor h1 {
    @apply text-4xl font-bold;
  }
  .editor h2 {
    @apply text-3xl font-bold;
  }
  .editor h3 {
    @apply text-2xl font-bold;
  }
  .editor h4 {
    @apply text-xl font-bold;
  }
  .editor p {
    @apply text-[16px] font-normal;
  }
}
/* editor styeles */

.tableContainer::-webkit-scrollbar {
  background: white;
  height: 10px;
  width: 10px; /* Safari and Chrome */
}

.tableContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: #392fa3;
}

.menu:hover > .subMenu {
  top: 16px;
}

.videoCatCard {
  height: 270px;
}

.commonContainer {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}

@media screen and (max-width: 1280px) {
  .commonContainer {
    padding-left: 80px;
    padding-right: 80px;
  }
  .videoCatCard {
    height: 230px;
  }
}

@media screen and (max-width: 1024px) {
  .commonContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
  .videoCatCard {
    height: 195px;
  }
}

@media screen and (max-width: 800px) {
  .videoCatCard {
    height: 130px;
  }
}

@media screen and (max-width: 600px) {
  .commonContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
